* {
	color: inherit;
}

div {
	color: inherit;
}

div p {
	color: inherit;
}

div, p {
	color: inherit;
}

.classi {
	color: inherit;
}

#idi {
	color: inherit;
}

#idi * {
	color: inherit;
}

div > p {
	color: inherit;
}

div ~ p {
	color: inherit;
}

div + p {
	color: inherit;
}

div:empty {
	background-color: darkgoldenrod;
	width: 100px;
	height: 100px;
}

a[target] {
	color: inherit;
}

a:active {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: inherit;
}

::placeholder {
	color: inherit;
}

input:checked {
	color: inherit;
}

input:enabled {
	color: inherit;
}

input:disabled {
	color: inherit;
}

input:focus {
	color: inherit;
}

p::before {
	content: "ummm ";
}

p::after {
	content: " hel.. hellooo";
}

p:first-child {
	color: inherit;
}

p:last-child {
	color: inherit;
}

p:nth-child(3) {
	color: aqua;
}

/* p {
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: green wavy underline;
} */