* {
	font-family: IRANSans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
}

body {
	background-color: #603695;
	direction: rtl;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

#e-estekhdam-image {
	height: auto;
	width: 137px;
	margin-top: 5px;
}

header {
	margin-top: 15px;
	margin-right: 123px;
}

#div-img-icon-input {
	float: right;
}

input[type=search] {
	padding: 7px;
	padding-right: 30px;
	width: 100%;
	border-radius: 4px;
	outline: none;
	border: none;
	box-sizing: border-box;
	background-color: #532e82;
}

input[type=search]::placeholder {
	color: #cecece;
}

.inputwithicon {
	padding: 3px;
	margin-right: 30px;
	float: left;
	width: 540px;
	position: relative;
}

.inputwithicon i {
	color: #cecece;
	position: absolute;
	top: 12px;
	right: 8px;
	padding-right: 5px;
	transition: 330ms;
}

.inputwithicon input[type=search]:focus {
	background-color: white;
}

#div-hrefs {
	float: left;
	margin-left: 87px;
	margin-top: 3px;
}

#a-hrefs {
	text-decoration: none;
	font-size: 12px;
	color: white;
	border: 2px solid #804dbf;
	padding: 4px 13px;
	border-radius: 4px;
	background-color: #804dbf;
	margin-left: 10px;
	text-align: center;
}

#hrefs {
	text-decoration: none;
	font-size: 12px;
	color: white;
	border: 2px solid #7c4aba;
	padding: 4px 16px;
	border-radius: 4px;
	margin-left: 10px;
	text-align: center;
}

#hrefs:hover {
	box-shadow: 0 0 0 100px rgb(0 0 0 / 5%) inset;
}

#a-hrefs:hover {
	box-shadow: 0 0 0 100px rgb(0 0 0 / 5%) inset;
}

#nav-a {
	margin-top: 13px;
}

.nav-a-hrefs {
	text-decoration: none;
	color: #ebe9e9;
	font-size: 12px;
	font-weight: 400;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.nav-a-hrefs:hover {
	background-color: white;
	color: #603695;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.fa-bars {
	margin-left: 23px;
}