body {
	background-color: rgb(184, 234, 238);
}

nav ul li {
	display: inline-block;
}


nav ul li a {
	text-decoration: none;
	padding: 15px;
	transition: 330ms;
	color: darkblue;
}

#se {
	margin-left: 720px;
	border-radius: 10px;
}

a:hover {
	transition: 330ms;
	color: darkorange;
}

table {
	border-collapse: collapse;
}

table th,
table td {
	padding: 15px;
	text-align: center;
}

table th {
	color: darkgrey;
}

table td {
	color: rgb(79, 4, 255);
}

input {
	border-radius: 15px;
	transition: 330ms;
}

input:hover {
	transition: 330ms;
	background-color: rgb(0, 223, 137);
}